.btn {
    transition: all 0.5s ease 0s;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-modal {
    padding: 1em;
}

.btn.focus, .btn:focus, .btn:hover {
    color: white;
    text-decoration: none;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none;
    outline-offset: 0;
}


.primary {
    color: #fff;
    background-color: black;
    border-color: black;
    margin-right: 1em;
}

.primary:hover {
    box-shadow: 0 0 1em 0 gray;
    transition: all 0.5s ease 0s;
}

.info {
    color: black;
    background-color: white;
    border-color: black;
}

.info:hover {
    color: black;
    box-shadow: 0 0 1em 0 gray;
    transition: all 0.5s ease 0s;
}

.success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    margin-right: 1em;
}

.success:hover {
    box-shadow: 0 0 1em 0 #4cae4c;
    transition: all 0.5s ease 0s;
}

.exit {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.exit:hover {
    box-shadow: 0 0 1em 0 #d43f3a;
    transition: all 0.5s ease 0s;
}
