#menu_bar {
    border-bottom: 1px solid #e3e3e3;
    padding: 1em 0;

    .navbar {
        margin: 0;
    }

    .navbar-brand {
        padding: 0 15px;
    }

    .navbar-inverse {
        background-color: white;
        border-color: white;
    }

    // .navbar-inverse .navbar-nav>li>a {
    //     font-family: SnellRoundhand;
    // }

    .navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
        color: black;
    }

    .navbar-inverse .navbar-brand:hover {
        color: black;
    }
 
}