.modal-body {
    padding: 15px 15px 0 15px;
}

.modal-title {
    font-family: "ProximaNova-Regular", sans-serif;
}

.modal-footer {
    border-top: none;
}

#contact-form {
    display: grid;

    @media(min-width: 768px) {
        .contact-inputs {
            display: flex;
            justify-content: space-between;
        }
    }
}