#about_me {
    border-bottom: 1px solid #e3e3e3;
    padding: 3em 0;
}

#about_content {
    display: grid;
    display: -ms-grid;
    grid-auto-flow: column;
    grid-gap: 3em;
    grid-auto-columns: 1fr;

    .about_text {

        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        justify-content: space-between;

        .about_contacts {
            padding: 1em 0;
            display: grid;
            grid-gap: .5em;

            div {
                display: grid;
                grid-auto-flow: column;
                grid-template-columns: 5em 1fr;
                align-items: center;

                @media(max-width: 991px) {
                    grid-template-columns: 6em 1fr;
                }

                .contact {
                    font-weight: bold;
                }

                .about_metro {
                    text-decoration: none;
                    color: purple;
                    font-weight: bold;
                }

                .contact_icons {
                    display: flex;

                    a {
                        display: flex;
                        transition: all 0.5s ease 0s;
                    }

                    a:not(:first-child) {
                        padding: 0 .5em;
                    }


                    a:nth-child(1) {
                        padding: 0 .5em 0 0;
                    }

                    svg {
                        transform: scale(1, 1);
                        transition: all 0.5s ease 0s;
                    }

                    svg:hover {
                        transform: scale(1.2, 1.2);
                        transition: all 0.5s ease 0s;
                    }
                    
                }

            }
            
        }
    }

    .btn {
        padding: 15px 25px;
        font-size: 16px;

        @media(max-width: 413px) {
            padding: 15px 15px;
            font-size: 14px;
        }
    }

    .btn-primary {
        margin-right: 2em;
    }
}

@media screen and (max-width: 991px) {
    #about_content {
        grid-auto-flow: row;
    }
}